{% extends "Account/main.html" %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Aru you sure you wanna delete the item : {{ item }} ordered by {{ item.customer }}</p>
            <form action="{% url 'deleteorder' item.id %}" method="POST">
                {% csrf_token %}
                <a class="btn btn-sm btn-primary" href="{% url 'homepage'%}">Cancel</a>
                <input class = "btn btn-sm btn-danger"type="submit" value="Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}